<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Automation/Saucedemo Maven Project Based On Java and Selenium/src/test/java">
        <classes>
            <class name="tests.BuyProductTest">
                <methods>
                    <include name="tc1_Negative"/>
                    <include name="tc2_PositiveTestE2E"/>
                    <include name="tc3_addProductToCartFromProductsPage"/>
                </methods>
            </class>
            <class name="tests.LoginTest">
                <methods>
                    <include name="tc1_loginSuccess"/>
                    <include name="tc2_loginFailed1"/>
                    <include name="tc3_LockedOutLogin"/>
                    <include name="tc4_loginFailedUsingDDT"/>
                    <include name="tc5_testLoginWithExcelData"/>
                </methods>
            </class>
            <class name="tests.ProductsTests">
                <methods>
                    <include name="tc1_verifyAddingProductToCart"/>
                    <include name="tc2_verifyChangingTextOfAddButton"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>